@import "../../assets/variables.styl";

.sidebar
  width: 230px;
  box-shadow: 40px 0px 100px 0px $cl-shadow-color;
  &__logo
    padding: 42px 33px 55px;
  @media (max-width: $cl-mobile-max)
    width: 100%;
    height: 72px;
    box-shadow: none;
    border-bottom: 1px solid $cl-gray;
    &__logo
      padding: 17px 20px
      height: 100%;
  &-menu
    &__item
      display: flex
      justify-content: flex-start
      align-items: center
    &__icon
      display: inline-block
      width: 24px
      height: 24px
    &__text
      padding-left: 20px