@import url('https://fonts.googleapis.com/css?family=Roboto');

@import './variables'
@import 'helpers/normalize'

@font-face {
  font-family: CirceNormal;
  src: url(./Circe/Circe-Regular.ttf);
}


* {
  font-family: 'CirceNormal', sans-serif;
}