// $base-size = 16px
// rupture.scale = 0 420px 600px 800px 1050px 1400px 1850px
// rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'
// rupture.base-font-size = $base-size

$fonts = -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;

$cl-azure = #7ac4e7;
$cl-gray = #b8c0d1;
$cl-grayLight = #f4f7f9;
$cl-grayDark = #808080;
$cl-dark = #080808;
$cl-blue = #4a90e2;
$cl-azureLight = #03a9f4;
$cl-green = #66bb6a;
$cl-yellow = #ffe100;
$cl-red = #ff2525;
$cl-white = #fff;
$cl-selected-grey = #f5f7f8;
$cl-disabled = #dadbdc;
$cl-shadow-color = rgb(240,240,240);
$cl-table-header = #eaeef0;

$cl-print-dark = black;
$cl-print-gray = gray;

$cl-mobile-max = 768px;